<section class="about">
    <div class="about-us">
        <h1>Welcome to Adopet shelter!</h1>
        <p>Our shelter operates and helps hundreds of animals each year since 2005. Unfortunatly there are namy more
            animals that still needs our help. This website is a place that unites private people and other shelters and
            gives them the option to post their pets for adoption and use our resources for free. Our goal is to make
            shelters the first place potential adopters turn when looking to get a new pet, ensuring that all healthy
            and treatable pets find loving homes. We do this by breaking down misconceptions surrounding shelter pets
            and celebrating the unique bond between every shelter pet and parent.</p>
        <img src="../../../assets/img/catto.png" alt="">

    </div>
    <div class="map-container">
        <div class="map" #map></div>
        <div class="adress-contact">

            <div class="contact">
                <h1>Our Adress</h1>
                <p>Tel-Aviv, Israel</p>
                <p>Dizengoff Center Mall</p>
                <a href="https://www.waze.com/ul?ll=32.0750%2C34.7749&navigate=yes&zoom=17">{{'directions' | uppercase}}</a>
            </div>

            <div class="contact">
                <h1>Contact Info</h1>
                <p>Phone: 031111111</p>
                <p>E-mail: adopet@gmail.com</p>
                <a (click)="send()">{{'send message' | uppercase}}</a>
            </div>
<!-- 
            <div class="contact">
                <h1>Our Adress</h1>
                <p>Tel-Aviv, Israel</p>
                <p>Dizengoff Center Mall</p>
                <h2>{{'directions' | uppercase}}</h2>
            </div> -->

        </div>
    </div>

</section>