<section class="home">
    <div class="home-info">
        <h1>Pets <span>change our lives</span>, let's save theirs!</h1>
        <h2>We are non-profitable organisation that helps you find or put pets for adoption.</h2>
        <div class="home-donate">
            <h4 routerLink="pets">Adopt</h4>
            <h4 routerLink="donate">Donate</h4>
        </div>
    </div>
    <div class="home-image">
        <img src="../../../assets/img/home-dog.png" alt="">
        <!-- <img src="../../../assets/img/humberto-arellano-N_G2Sqdy9QY-unsplash.jpg" alt=""> -->
    </div>

</section>